
#Titulo{
    -fx-text-fill: gray;
    -fx-font-size : 35pt;
    -jfx-focus-color: -fx-secondary;
}
.label{
    -fx-text-fill: white;
}
.root{
    -fx-background-color: #021639;
}
.button{
    -fx-background-color:#042a6b;
    -jfx-button-type: RAISED;/*raised and flat*/
    -fx-text-fill: WHITE;
    -jfx-rippler-fill: RED;
}
.custom-jfx-radio-button-white{
    -fx-text-fill: white;
    -jfx-selected-color: #6622CC;
}

.table-view{
   -fx-background-color: #444444;
}

.table-view:focused{
    -fx-background-color:#444444;
}


.table-view .column-header-background{
    -fx-background-color: #444444;
}

.table-view .column-header-background .label{
    -fx-background-color: #444444;
    -fx-text-fill:white;
}

.table-view .column-header {
    -fx-background-color: #444444;
}

.table-view .table-cell{
    -fx-text-fill: #444444;
}

.table-cell {     
    -fx-text-fill: white;
    -fx-opacity: 0.6;
}
.table-cell:hover {
    -fx-background-color: #30ffa5;
}
.table-view:row-selection .table-row-cell:filled:hover { 
    -fx-background-color: #6622CC
}
/*cuando está seleccionada*/
.table-view:row-selection .table-row-cell:filled:selected { 
    -fx-background-color: rgba(28, 183, 236, 0.65);
}
/*el hover cuando está seleccionada*/
.table-view:row-selection .table-row-cell:filled:selected:hover { 
    -fx-background-color: #6622CC
} 
/*celda*/
.table-view .cell{
   -fx-cell-size: 40;
  -fx-alignment: center-left;
  -fx-background-color: #404042;
  -fx-border-color: #404042;
  -fx-text-fill: white;
  -fx-alignment: CENTER_LEFT;
   
}
/*celda selecionada*/
.table-row-cell:selected {
   -fx-background-color: whitesmoke; 
   -fx-text-background-color:  #6622CC;
}
/*fondo de la barra*/
.table-view .scroll-bar:horizontal .track,
.table-view .scroll-bar:vertical .track{
	-fx-background-color: #2a2a2a;
	-fx-border-color:#2a2a2a
}
/*barra del tableview*/
.table-view .scroll-bar:horizontal .thumb,
.table-view .scroll-bar:vertical .thumb {
    -fx-background-color:#2a2a2a;
	-fx-background-insets: 2, 0, 0;
	-fx-background-radius: 2em;

}
/* The increment and decrement button CSS class of scrollbar */
.table-view .increment-button ,.table-view .decrement-button {
    -fx-background-color:#5E5E5E;
    -fx-border-color: #5E5E5E;
}
.jfx-hamburger StackPane {
	-fx-background-color: WHITE;
}
.text-field{
    -fx-prompt-text-fill: black;
    -jfx-focus-color: #06388f;
    -jfx-unfocus-color: #042a6b;
    /*-jfx-label-float: true;*/
    -fx-text-fill: black;
}
.button:hover {
    -fx-background-color: #06388f;
    -jfx-button-type: RAISED;/*raised and flat*/
    -fx-text-fill: WHITE;
    -jfx-rippler-fill: RED;
}

#button2{
    -fx-background-color: gray;
    -jfx-button-type: RAISED;/*raised and flat*/
    -fx-text-fill: WHITE;
    -jfx-rippler-fill: GREEN;
    
}
#button2:hover {
    -fx-background-color: #009cad;
    -jfx-button-type: RAISED;/*raised and flat*/
    -fx-text-fill: WHITE;
    -jfx-rippler-fill: GREEN;
}

#buttonSelec{
    -fx-background-color: #009cad;
    -jfx-button-type: RAISED;/*raised and flat*/
    -fx-text-fill: WHITE;
    -jfx-rippler-fill: GREEN;
}
#buttonSelec:hover{
    -fx-background-color: GREEN;
    -jfx-button-type: RAISED;/*raised and flat*/
    -fx-text-fill: WHITE;
    -jfx-rippler-fill: GREEN;
}
.button:disabled{
    -fx-background-color: #cccccc;
    -jfx-button-type: RAISED;/*raised and flat*/
    -fx-text-fill: WHITE;
    -jfx-rippler-fill: GREEN;
    
}
.button .jfx-rippler{
    -jfx-rippler-fill: #577fc2;
}

.jfx-list-cell:selected{
    -fx-background-color: #3b8c91;
}
.jfx-list-cell{
    -fx-background-insets: 0.0;
}
.jfx-list-cell .jfx-rippler{
    -fx-rippler-fill: BLUE;
}
.jfx-list-cell:hover{
    -fx-background-color: #1bd79c;
}
.jfx-list-view{
    -fx-background-insets: 0;
    -fx-cell-vertical-margin:10.0;
    -fx-vertical-gap: 10;
}
