
#Titulo{
    -fx-text-fill: gray;
    -fx-font-size : 35pt;
    -jfx-focus-color: -fx-secondary;
}

#labelContra{
    -fx-text-fill: white;
    -jfx-focus-color: -fx-secondary;
}
#labelContra:hover{
    -fx-text-fill: #999999;
    -jfx-focus-color: -fx-secondary;
}
.label{
    -fx-text-fill: black;
}
.lbl{
    -fx-font-size : 15pt;
    -fx-text-fill : gray;
}
.root{
    -fx-background-color: white;
}
.calendar_pane {
    -fx-background-color:  white;
    -fx-border-style: dashed;
    -fx-border-width: .5;
    -fx-border-color: gray;
}
.calendar_pane:hover{
    -fx-background-color: #0747b5;
    -fx-border-style: solid;
    -fx-border-width: 2.5;
    -fx-border-color: gray;
}
.calendar_pane:pressed{
    -fx-background-color: #042a6b;
    -fx-border-style: solid;
    -fx-border-width: 5.5;
    -fx-border-color: gray;
}

.custom-jfx-radio-button-white{
    -fx-text-fill: black;
    -jfx-selected-color: #0d54d1;
}

.button{
    -fx-background-color:#042a6b;
    -jfx-button-type: RAISED;/*raised and flat*/
    -fx-text-fill: WHITE;
    -jfx-rippler-fill: RED;
}
.button:hover {
    -fx-background-color: #06388f;
    -jfx-button-type: RAISED;/*raised and flat*/
    -fx-text-fill: WHITE;
    -jfx-rippler-fill: RED;
}
.button .jfx-rippler{
    -jfx-rippler-fill: #577fc2;
}

.button:disabled{
    -fx-background-color: #cccccc;
    -jfx-button-type: RAISED;/*raised and flat*/
    -fx-text-fill: WHITE;
    -jfx-rippler-fill: GREEN;
    
}


.table-view{
   -fx-background-color: #042a6b;
}

.table-view:focused{
    -fx-background-color:#042a6b;
}


.table-view .column-header-background{
    -fx-background-color: #042a6b;
}

.table-view .column-header-background .label{
    -fx-background-color: #042a6b;
    -fx-text-fill:white;
}

.table-view .column-header {
    -fx-background-color: #042a6b;
}

.table-view .table-cell{
    -fx-text-fill: #042a6b;
}

.table-cell {     
    -fx-text-fill: white;
    -fx-opacity: 0.7;
}
.table-cell:hover {
    -fx-background-color: white;
}
.table-view:row-selection .table-row-cell:filled:hover { 
    -fx-background-color: white;
}
/*cuando está seleccionada*/
.table-view:row-selection .table-row-cell:filled:selected { 
    -fx-background-color: rgba(28, 183, 236, 0.65);
}
/*el hover cuando está seleccionada*/
.table-view:row-selection .table-row-cell:filled:selected:hover { 
    -fx-background-color: white
} 
/*celda*/
.table-view .cell{
   -fx-cell-size: 40;
  -fx-alignment: center-left;
  -fx-background-color: #042a6b;
  -fx-border-color: #042a6b;
  -fx-text-fill: white;
  -fx-alignment: CENTER_LEFT;
   
}
/*celda selecionada*/
.table-row-cell:selected {
   -fx-background-color: whitesmoke; 
   -fx-text-background-color:  #042a6b;
}
/*fondo de la barra*/
.table-view .scroll-bar:horizontal .track,
.table-view .scroll-bar:vertical .track{
	-fx-background-color: #042a6b;
	-fx-border-color:#042a6b;
}
/*barra del tableview*/
.table-view .scroll-bar:horizontal .thumb,
.table-view .scroll-bar:vertical .thumb {
    -fx-background-color:#042a6b;
	-fx-background-insets: 2, 0, 0;
	-fx-background-radius: 2em;

}
.table-view .increment-button ,.table-view .decrement-button {
    -fx-background-color:#042a6b;
    -fx-border-color: #042a6b;
}
.jfx-hamburger StackPane {
	-fx-background-color: #06388f;
}
.text-field{
    -fx-prompt-text-fill: black;
    -jfx-focus-color: black;
    -jfx-unfocus-color: black;
    /*-jfx-label-float: true;*/
    -fx-text-fill: black;
}
#txtXontrasenna{
    -fx-prompt-text-fill: white;
    -jfx-focus-color: white;
    -jfx-unfocus-color: white;
    /*-jfx-label-float: true;*/
    -fx-text-fill: white;
}
#txtConfirmarContrasenna{
    -fx-prompt-text-fill: white;
    -jfx-focus-color: white;
    -jfx-unfocus-color: white;
    /*-jfx-label-float: true;*/
    -fx-text-fill: white;
}
#txtCorreoElectronico{
    -fx-prompt-text-fill: white;
    -jfx-focus-color: white;
    -jfx-unfocus-color: white;
    /*-jfx-label-float: true;*/
    -fx-text-fill: white;
}
#txtUsuario1{
    -fx-prompt-text-fill: white;
    -jfx-focus-color: white;
    -jfx-unfocus-color: white;
    /*-jfx-label-float: true;*/
    -fx-text-fill: white;
}
#txtClave1{
    -fx-prompt-text-fill: white;
    -jfx-focus-color: white;
    -jfx-unfocus-color: white;
    /*-jfx-label-float: true;*/
    -fx-text-fill: white;
}

#button2{
    -fx-background-color: #083d99;
    -jfx-button-type: RAISED;/*raised and flat*/
    -fx-text-fill: WHITE;
    -jfx-rippler-fill: RED;
    
}
#button2:hover {
    -fx-background-color: #0747b5;
    -jfx-button-type: RAISED;/*raised and flat*/
    -fx-text-fill: WHITE;
    -jfx-rippler-fill: GREEN;
}

#buttonSelec{
    -fx-background-color: #009cad;
    -jfx-button-type: RAISED;/*raised and flat*/
    -fx-text-fill: WHITE;
    -jfx-rippler-fill: GREEN;
}
#buttonSelec:hover{
    -fx-background-color: GREEN;
    -jfx-button-type: RAISED;/*raised and flat*/
    -fx-text-fill: WHITE;
    -jfx-rippler-fill: GREEN;
}


/*
.jfx-list-cell:selected{
    -fx-background-color: #3b8c91;
}
.jfx-list-cell{
    -fx-background-insets: 0.0;
}
.jfx-list-cell .jfx-rippler{
    -fx-rippler-fill: BLUE;
}
.jfx-list-cell:hover{
    -fx-background-color: #1bd79c;
}
.jfx-list-view{
    -fx-background-insets: 0;
    -fx-cell-vertical-margin:10.0;
    -fx-vertical-gap: 10;
}*/
